* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover i, a:hover span, a:hover p {
  color: white;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: #b3b3b3;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

#sidebar {
  background-color: #040404;
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.menu {
  height: 100%;
}

.menu-bottom {
}

#logo {
  width: 140px;
  padding-top: 25px;
  display: none;
}

#logo-smartphone {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}

.menu i, .menu-bottom i {
  color: #b3b3b3;
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
}

#sidebar ul, .menu-bottom, .installation-app{
  text-align: center;
}

ul span {
  font-weight: 300;
}

#sidebar p.text-uppercase {
  letter-spacing: 1px;
}

#sidebar span, #sidebar p {
  display: none;
}

.installation-app {
  border-bottom: none;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.fa-arrow-alt-circle-down {
  border-bottom: 1px solid #b3b3b3;
  padding: 10px 0;
}

.installation-app  span {
  display: none;
}

.installation-app a:hover {
  color: white;
}

main {
  background: rgb(129,122,3);
  background: -webkit-linear-gradient(61deg, rgba(129,122,3,1) 13%, rgba(11,10,1,1) 100%);
  background: -o-linear-gradient(61deg, rgba(129,122,3,1) 13%, rgba(11,10,1,1) 100%);
  background: linear-gradient(151deg, rgba(129,122,3,1) 13%, rgba(11,10,1,1) 100%);
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-direction: column;
  overflow: auto;
}

.container-main {
  max-width: 85%;
  margin: 0 auto;
}

.main-menu ul {
  text-align: center;
  display: none;
}

.fa-bars {
  color: white;
}

.main-menu ul li{
  display: inline-block;
}

.main-menu ul li a{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 15px;
}

.main-menu ul li a:hover{
  color: rgba(255, 255, 255, 1);
}

h1 {
  align-self: flex-start;

}



.artist-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-rounded {
  border-radius: 50%;
}

.img-responsive {
  width: 130px;
}

.img-container {
  text-align: center;
  margin-right: 30px;
}

.img-container .artist-name {
  color: rgba(255, 255, 255, 0.7);
}

.img-container .artist-name:hover {
  color: rgba(255, 255, 255, 1);
}


footer {
  height: 80px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

}

.album-cover {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  padding-left: 20px;
}

.album-cover img {
  width: 50px;
  margin-right: 20px;
}

.album-cover a:hover {
  text-decoration: underline;
  color: white;
}

i.fa-heart {
  margin-left: 20px;
}

i {
  color: #b3b3b3;
}

i.fa-heart:hover {
  color: white;
}

.album-cover .text-grey {
  display: none;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
}

.player-top {

  width: 100%;
  height:
  border: 1px solid black;
  text-align: center;
}

.player-bottom {
  align-self: center;
  margin-right: 20px;
}

.player-button{
  margin-right: 15px;
}

.no-margin-right {
  margin-right: 0;
}

.fa-pause {
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  padding: 10px;
}

.slider {
  margin: 10px;
  width: 250px;
  appearance: none;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.footer-option {
  display: none;
}

@media (min-width: 576px) {

  .slider {
    margin: 10px;
    width: 250px;
    appearance: none;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }

}

@media (min-width: 768px) {

  #logo {
    width: 140px;
    padding-top: 25px;
    display: block;
  }

  #logo-smartphone {
    display: none;
  }

  #sidebar ul, .menu-bottom, .installation-app{
    text-align: left;
  }

  #sidebar {
    width: 230px;
    padding-left: 20px;
  }

  #sidebar span {
    display: inline-block;
  }

  #sidebar p {
    display: block;
  }

  .installation-app {
    border-bottom: 1px solid #b3b3b3;
    padding: 10px 0px;
    margin-bottom: 10px;
  }

  .fa-arrow-alt-circle-down {
    border-bottom: none;
    padding: 0px;
  }

  .menu-bottom i {
    font-size: 16px;
  }

  .installation-app {
    margin-right: 45px;

  }

  .installation-app  span {
    display: inline-block;
  }

  .album-cover img {
    width: 100%;
  }

  .album-cover .text-grey {
    display: inline-block;
  }

}

@media (min-width: 992px) {

  .main-menu ul {
    display: block;
  }

  .footer-option {
    display: block;
  }

  .footer-option i {
    padding-right: 15px;
  }

  #volume {
    width: 30%;
    vertical-align: middle;
  }

  .fa-bars {
    display: none;
  }

  .player-bottom {
    margin-right: 0px;
  }

}
