* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: #b3b3b3;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

#sidebar {
  background-color: #040404;
  width: 230px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.menu {
  padding-left: 20px;
  height: 100%;
}

.menu-bottom {
  padding-left: 20px;
}

#logo {
  width: 140px;
  padding-top: 25px;
  display: block;
}

.menu i, #user {
  font-size: 24px;
}

.menu i, .menu-bottom i {
  color: #b3b3b3;
  display: inline-block;
  margin-right: 15px;
}

.menu-bottom i {
  font-size: 16px;
}

.menu ul li a {
  padding-right: 50px;
}

ul span {
  font-weight: 300;
}

#sidebar p.text-uppercase {
  letter-spacing: 1px;
}

.installation-app {
  border-bottom: 1px solid #b3b3b3;
  margin-right: 45px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.installation-app a:hover {
  color: white;
}

main {
  background-color: red;
  height: 100%;
  flex-shrink: 1;
  display: flex;

}

footer {
  height: 80px;
  background-color: #282828;
}
