* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover i, a:hover span, a:hover p {
  color: white;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: #b3b3b3;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

#sidebar {
  background-color: #040404;
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.menu {
  padding-left: 30px;
  height: 100%;
}

.menu-bottom {
  padding-left: 20px;
}

#logo {
  width: 140px;
  padding-top: 25px;
  display: none;
}

#logo-smartphone {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}

.menu i, #user, .menu-bottom i {
  font-size: 24px;
}

.menu i, .menu-bottom i {
  color: #b3b3b3;
  display: inline-block;
  margin-right: 15px;
}

.menu ul li a {
  padding-right: 50px;
}

ul span {
  font-weight: 300;
}

#sidebar p.text-uppercase {
  letter-spacing: 1px;
}

#sidebar span, #sidebar p {
  visibility: hidden;
}

.installation-app {
  border-bottom: 1px solid #b3b3b3;
  margin-right: 55px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.installation-app  span {
  display: none;
}

.installation-app a:hover {
  color: white;
}

main {
  background-color: red;
  height: 100%;
  flex-shrink: 1;
  display: flex;

}

footer {
  height: 80px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.album-cover {
  position: relative;
}

.album-cover img {
  width: 80%;
  max-width: 64px;
}

.album-cover::after {
  content: '\f004';
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  height: 5px;
  width: 5px;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translate(-50%, -50%);
  color: #b3b3b3;
}

.album-cover:hover::after {
  color: white;
}

.album-cover p {
  float: right;
  margin-left: 20px;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
}

.album-cover a:hover {
  text-decoration: underline;
  color: white;
}

@media (min-width: 768px) {

  #logo {
    width: 140px;
    padding-top: 25px;
    display: block;
  }

  #logo-smartphone {
    display: none;
  }

  #sidebar {
    width: 230px;
  }

  #sidebar span, #sidebar p {
    visibility: visible;
  }

  .menu-bottom i {
    font-size: 16px;
  }

  .installation-app {
    margin-right: 45px;

  }

  .installation-app  span {
    display: inline-block;
  }

  .album-cover img {
    width: 100%;
  }
}
